---
import { markdownToHtml } from '../utils/markdownToHtml';

interface Props {
	title: string;
	body: string | Promise<string>;
	classname: string;
}

// Definir las palabras clave y sus enlaces
const keywords = [
  { word: 'V-Sekai', url: 'https://v-sekai.org' },
  { word: 'Godot Engine', url: 'https://godotengine.org' },
  { word: 'Godot Engine 4.0', url: 'https://godotengine.org' },
  { word: 'join our Discord server', url: 'https://discord.com/invite/7BQDHesck8' },
  { word: 'Twitter', url: 'https://twitter.com/VSekaiOfficial' },
  { word: 'Blender', url: 'https://www.blender.org/' },
];

const { title, body, classname } = Astro.props;
const bodyHtml = markdownToHtml(await body, keywords);
console.log({classname});
---

<div class="tittle-card">
	<h2>
		{title}
	</h2>
	<div class={classname} set:html={bodyHtml}></div>
</div>

<style>
	.tittle-card {
	}
	h2 {
		background-color: red;
		border-radius: 16px;
		margin: 1rem;
		padding: 1rem;
		font-size: 2rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		text-align: center;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		text-align: center;
	}
	.text-center {
		margin-top: 0.5rem;
		margin-bottom: 0;
		text-align: center;
	}
	.custom-link {
		color: blue;
		text-decoration: underline;
	}
	.custom-link:hover {
		color: darkblue;
	}
</style>
